.menu-nav {
    height: 100vh;
    width: 100%; 
    background-color: #4a4b4e; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start; 
    padding: 10px 0; 
    box-sizing: border-box;
}

.menu-nav ul {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
}

.menu-nav ul li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
}

.menu-nav ul li .navlink {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    width: 100%; 
    padding: 10px 20px; 
    display: block;
    text-align: center;
    border: 2px solid transparent; 
    border-radius: 5px;
    transition: all 0.2s; 
    box-sizing: border-box;
    margin-top: 2px;
}

.menu-nav ul li .navlink:hover {
    color: #c2d971;
}

.menu-nav ul li .navlink-activo {
    text-decoration: none;
    color: #c2d971;
    font-size: 1.2rem;
    width: 100%;
    padding: 10px 20px;
    display: block;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.2s;
    box-sizing: border-box;
    margin-top: 2px;
}

.sub-menu-nav {
    display: none;
}

.sub-menu-nav.visible {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #c2d971;
    margin: 0;
    padding: 10px;
    box-shadow: inset 1px 1px 2px #5a5c55, inset -1px -1px 2px #e2e4d1;
    border-radius: 5px;
}

.sub-menu-nav.visible .navlink {
    color: black;
    font-size: 16px;
}

.sub-menu-nav.visible .navlink:hover {
    background-color: rgba(0, 0, 0, 0.516);
}