# Dependencias
/node_modules/

# Archivos de configuración de entorno
.env

# Carpetas de caché
.cache/

# Dist o build folders
/dist/
/build/

# Logs
*.log
node_modules/.cache/default-development/7.pack
