@import url('https://unpkg.com/react-big-calendar/lib/css/react-big-calendar.css');


h1 {
  margin-bottom: 20px;
}

.event-details {
  margin-top: 20px;
  padding: 10px;
}

.event-details h2 {
  margin: 0;
  padding-bottom: 10px;
}

.Calendario {
  padding: 20px;
}

.ingresada {
  background-color: lightblue;
}

.en-proceso {
  background-color: lightgreen;
}

.cancelada {
  background-color: lightgray;
}

.completada {
  background-color: darkgreen;
}

.selected {
  /* Mantener el mismo estilo al seleccionar */
  background-color: inherit !important;
  border-color: inherit !important;
}