/* Estilos para el formulario de inserción de OT */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 20px;
}

/* Estilos para el botón 2 */
.small {
    font-size: 12px;
    padding: 5px 10px;
}

/* Estilos para la vista previa de imágenes */
.image-preview {
    margin-top: 10px;
}

.image-preview img {
    max-width: 100px;
    height: auto;
    margin-top: 5px;
}

