.ots-container {
    padding: 20px;
}


.info-ot {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

.info-ot h2 {
    margin-top: 0;
}

.imagenes-ot img {
    max-width: 100px;
    margin-right: 10px;
}
