.clientes-container-1 {
  width: 100%;
  height: 100%;
  padding: 10px;
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}

.info-cliente {
  width: 80%;
  height: 100%;
  margin: 2.5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  box-shadow: inset 0.5px 0.5px 0.5px #2b2c2b5d, inset -0.5px -0.5px 0.5px #7c7c785a;
}
.info-cliente-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: inset 0.5px 0.5px 0.5px #7c7c785a, inset -0.5px -0.5px 0.5px #2b2c2b5d;
}
.info-cliente-2 {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  padding: 15px;
  box-sizing: border-box;
}

.info-cliente-2-1 {
  width: 50%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.info-cliente-2-1 p {
  display: block;
  width: 100%;
  text-align: start;
  margin: 3px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: inset 0.5px 0.5px 0.5px #2b2c2b5d, inset -0.5px -0.5px 0.5px #7c7c785a;
}

.info-cliente-2-2 {
  width: 50%;
  display: flex;
  align-items: center;
  background-color: black;
  img {
    width: 100%;
    height: auto;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;
  margin: 2.5px;
  padding: 0; /* Elimina el padding aquí para que no afecte los cálculos internos */
  background-color: #4a4b4e;
  color: white;
  display: block; /* Cambia de flex a block para permitir el scroll en tbody */
}

.table thead {
  display: block; /* Mantiene el thead fijo y no afectado por el scroll */
  width: 100%; /* Asegura que el thead ocupe todo el ancho disponible */
  background-color: #c2d971;
  color: black;
}

.table tbody {
  display: block; /* Permite desplazamiento independiente del thead */
  max-height: 400px; /* Altura máxima antes de que el desplazamiento sea necesario */
  overflow-y: auto; /* Añade desplazamiento vertical */
  width: auto; /* Asegura que tbody use todo el ancho de la tabla */
}

.table th,
.table td {
  width: auto;
  padding: 5px;
  text-align: left;
  min-width: 120px;
  box-sizing: border-box;
}

.table tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.137);
}

.table tbody tr:nth-child(odd):hover {
  background-color: #c2d971;
  cursor: pointer;
  color: black;
}

.table-row:hover {
  background-color: #c2d971;
  cursor: pointer;
  color: black;
}
