.layout-1{
  display: grid;
  /*grid-template-rows: 60px 100% 60px;*/
  grid-template-areas: 
  "header header header header header header header header header header" 
  "menuNav content content content content content content content content content" 
  "footer footer footer footer footer footer footer footer footer footer";
  
}

.header {
  grid-area: header;
  margin: 0;

  box-sizing: border-box;
}

.menuNav {
  grid-area: menuNav;
  margin: 0;
  box-sizing: border-box;
}


.content {
  grid-area: content;
  margin: 0;

  box-sizing: border-box;
}

.footer{
    grid-area: footer;
    
    box-sizing: border-box;
}
