@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  



.tiles-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    animation: fadeIn 0.5s ease-out, slideDown 0.5s ease-out; /* Aplica la animación */
}