:root {
  --background-color: #5b5e64;
  --background-color-container:#74777b;
  --text-color: #5b5e64;
  --primary-color: #c2d971;
  --primary-contrast-color: #5b5e64;
  --secondary-color: #cbcdc3;
  --secondary-contrast-color: #eaebe4;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --code-font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  --padding-button: 10px 30px;
  --margin-button: 5px;
  --padding-input: 5px 30px;
  --margin-input: 1px 5px;
  --padding-row-table: 5px;
  --margin-row-table: 0px;
  --font-size: 12px;
  --cont-shadow-conc: inset 1px 1px 1px rgba(0, 0, 0, 0.139),
    inset -1px -1px 1px rgba(255, 255, 255, 0.135);
  --cont-shadow-conv: inset 1px 1px 1px rgba(255, 255, 255, 0.135),
    inset -1px -1px 1px rgba(0, 0, 0, 0.139);
  --max-width-input: 250px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: var(--code-font-family);
}

button {
  width: auto;
  padding: var(--padding-button);
  margin: var(--margin-button);
  border: none;
  background-color: var(--background-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s;
  font-size: var(--font-size);
  box-shadow: var(--cont-shadow-conv);
  border-radius: 3px;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--primary-contrast-color);
  box-shadow: var(--cont-shadow-conc);
}

/* Estilos para otros componentes */
input,
textarea,
select {
  width: 80%;
  padding: var(--padding-input);
  margin: var(--margin-input);
  border: 1px solid var(--background-color);
  border-radius: 3px;
  background-color: var(--background-color);
  color: var(--primary-color);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: var(--font-size);
  transition: border-color 0.3s, background-color 0.3s;
  box-shadow: var(--cont-shadow-conc);
  box-sizing: border-box;
  cursor: pointer;
}

.input-deshabilitado {
  width: 80%;
  padding: var(--padding-input);
  margin: var(--margin-input);
  border: 1px solid var(--background-color);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.108);
  color: rgba(255, 255, 255, 0.617);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 700;
  transition: border-color 0.3s, background-color 0.3s;
  box-shadow: var(--cont-shadow-conc);
  box-sizing: border-box;
  cursor: default;
}

label {
  color: rgba(255, 255, 255, 0.617);
  font-size: var(--font-size);
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-contrast-color);
  outline: none;
 
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--primary-contrast-color);
}

ul,
ol {
  padding-left: 20px;
}

li {
  margin-bottom: var(--margin);
}

.table-container {
  max-height: 400px; /* Ajusta el tamaño según tus necesidades */
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  color: var(--background-color);
  background-color: var(--secondary-color);
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background-color);
  color: var(--primary-color);
}

th,
td {
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #ffffff1e;
}

tbody tr:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(194, 217, 113, 0.5);
  color: rgb(255, 255, 255);
}
.form-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-header {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  color: white;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.258),
    inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--background-color-container);
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 12px;
}

.principal-container {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 5px 5px;
  display: flex;
  background-color: var(--background-color-container);
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2),
    inset -1px -1px 1px rgba(255, 255, 255, 0.258);
  border-radius: 5px;

}

.secondary-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 5px 1px;
  padding: 5px 5px;
  background-color: var(--background-color-container);
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  max-height: 600px; /* Ajusta el tamaño según tus necesidades */
  overflow-y: auto;
  overflow-x: hidden;
}

.secondary-container-row {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 5px 1px;
  padding: 5px 5px;
  background-color: var(--background-color-container);
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-start;
  text-align: left;
  max-height: 600px; /* Ajusta el tamaño según tus necesidades */
  overflow-y: auto;
  overflow-x: hidden;
}

.secondary-container-50 {
  box-sizing: border-box;
  width: 50%;
  min-height: 50%;
  margin: 5px 1px;
  padding: 5px 5px;
  background-color: var(--background-color-container);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  text-align: left;
  max-height: 600px; /* Ajusta el tamaño según tus necesidades */
  overflow-y: auto;
  overflow-x: hidden;
}

.secondary-container-50-row {
  box-sizing: border-box;
  width: 50%;
  min-height: 50%;
  margin: 5px 1px;
  padding: 5px 5px;
  padding: 5px;
  background-color: var(--background-color-container);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  text-align: left;
  max-height: 600px; /* Ajusta el tamaño según tus necesidades */
  overflow-y: auto;
  overflow-x: hidden;
}

.simple-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 5px 1px;
  padding: 5px 5px;
  display: flex;
  background-color: var(--background-color-container);
  flex-flow: column wrap;
  align-items: fle;
  justify-content: flex-start;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2),
    inset -1px -1px 1px rgba(255, 255, 255, 0.258);
  border-radius: 5px;
  text-align: left;
  

  p {
    margin: 2px 2px;
    padding: 4px;
    background-color: var(--background-color);
    color: white;
  }
  strong {
    color: var(--primary-color);
  }
}

.simple-container-row {
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 5px 1px;
  padding: 5px 5px;
  background-color: var(--background-color-container);
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2),
    inset -1px -1px 1px rgba(255, 255, 255, 0.258);
  border-radius: 5px;
  text-align: left;
  text-align: left;
  overflow-y: auto;
  p {
    margin: 2px 2px;
    padding: 4px;
    background-color: var(--background-color);
    color: white;
  }
  strong {
    color: var(--primary-color);
  }
}

.simple-container-header {

  box-sizing: border-box;
  width: 100%;
  display: flex;
  text-align: left;
  font-size: 14px;
  margin: 0px;
  p {
    background-color: rgba(0, 255, 255, 0);
    margin: 0px 0px 5px 0px;
    color: rgba(255, 255, 255, 0.642);
  }

}
.simple-container-buttons {
  
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 5px 1px;
  padding: 5px 5px;
  background-color: var(--background-color-container);
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: flex-end;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2),
    inset -1px -1px 1px rgba(255, 255, 255, 0.258);
  border-radius: 5px;
  text-align: left;
  text-align: left;;
  p {
    margin: 2px 2px;
    padding: 4px;
    background-color: var(--background-color);
    color: white;
  }
  
  strong {
    color: var(--primary-color);
  }

  
}
.simple-container-row-buttons {
 
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 5px 1px;
  padding: 5px 5px;
  background-color: var(--background-color-container);
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2),
    inset -1px -1px 1px rgba(255, 255, 255, 0.258);
  border-radius: 5px;
  text-align: left;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1;
  p {
    margin: 2px 2px;
    padding: 4px;
    background-color: var(--background-color);
    color: white;
  }
  strong {
    color: var(--primary-color);
  }
}

.data-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 5px 1px;
  padding: 5px 5px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  text-align: left;



}
.data-item {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 10px 2px 0px;
  padding: 2px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  color: black;

}
