:root {
  --primary-color: #c2d971; /* Gris oscuro industrial */
  --primary-color-contrast: #a3b65d; /* Amarillo brillante para contraste */
  --secondary-color: rgb(153, 75, 195); /* Gris medio */
  --background-light: linear-gradient(145deg, #9b9b9c, #6e6e6f);
  --background-light-contrast: linear-gradient(
    145deg,
    #878788,
    #5a5a5b
  ); /*#737373 Gris claro */
  --background-dark: linear-gradient(
    145deg,
    #7d7d7e,
    #505051
  ); /* Gris muy oscuro */
  --background-dark-contrast: linear-gradient(
    145deg,
    #737374,
    #464647
  ); /* Gris medio oscuro */
  --background-button: linear-gradient(
    145deg,
    rgba(113, 131, 47, 0.8),
    rgba(85, 98, 34, 0.8)
  );
  --text-color-light: rgb(255, 255, 255); /* Blanco */
  --text-color-dark: rgb(0, 0, 0); /* Negro */
  --cont-shadow-conc: inset 1px 1px 1px rgba(0, 0, 0, 0.4),
    inset -1px -1px 1px rgba(255, 255, 255, 0.4);
  --cont-shadow-conv: inset 1px 1px 1px rgba(255, 255, 255, 0.4),
    inset -1px -1px 1px rgba(0, 0, 0, 0.4);
  --font-family: -apple-system, BlinkMacSystemFont, "Arial", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --code-font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  --padding-row-table: 5px;
  --margin-row-table: 0px;
  --font-size: 12px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-dark);
  color: var(--text-color-light);
}

code {
  font-family: var(--code-font-family);
}

/*-----LAYOUT-----*/

.layout {
  display: grid;
  grid-template-columns: 200px 1fr; /* Tamaño fijo para el menú y el resto flexible */
  grid-template-rows: 100px 1fr auto; /* Altura fija para el encabezado, flexible para el contenido, fija para el pie de página */
  grid-template-areas:
    "header header"
    "menuNav content"
    "footer footer";
  height: 100vh; /* Asegura que el layout ocupe toda la altura de la ventana */
  margin: 0;
  padding: 0; /* Eliminamos cualquier padding externo */
  box-sizing: border-box; /* Incluye paddings y borders dentro de la altura y ancho del elemento */
  overflow: hidden; /* Evita cualquier desbordamiento accidental */
}

/*_____Header_____*/

.header {
  box-sizing: border-box;
  grid-area: header;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2px;
  display: flex;
  background: rgb(120, 125, 120);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo-arsheep {
    width: auto;
    height: 50px;
    margin: 10px 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgb(120, 125, 120);
    box-sizing: border-box;
    img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

/*_____Menu de Navegación_____*/

.menuNav {
  grid-area: menuNav;
  background: rgb(120, 125, 120);
  display: flex;
  flex-direction: column;
  padding: 2px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-nav {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

/*_____Contenido Principal_____*/

.content {
  height: 100%;
  grid-area: content;
  padding: 10px;
  box-sizing: border-box;
  background: rgb(100, 105, 100);
  box-shadow: var(--cont-shadow-conc);
  overflow-y: auto;
  overflow-x: hidden;
}

/*_____Footer_____*/

.footer {
  height: auto;
  grid-area: footer;
  background: rgb(120, 125, 120);
  padding: 10px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 10px;
}

/*-----UI COMPONENTS-----*/

/*_____Botón_____*/

button {
  min-width: 100px;
  margin: 10px;
  padding: 10px;
  background: rgb(0, 0, 0);
  color: rgb(250, 250, 250);
  font-size: 12px;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
}

button:hover {
  background: rgb(250, 250, 250);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/*_____Input_____*/

input {
  width: auto;
  height: auto;
  margin: 2px 2px 2px 2px;
  padding: 8px 5px 8px 5px;
  border: none;
  border-radius: 2px;
  background: rgb(0, 0, 0);
  color: rgb(250, 250, 250);
  font-size: 12px;
  font-weight: lighter;
  cursor: pointer;
  transition: 0.3s;
}

input:focus {
  background: rgb(250, 250, 250);
  color: rgb(0, 0, 0);
}

.input-desenabled {
  background: none;
  background: none;
  color: rgb(250, 250, 250);
}

/*_____Text Area_____*/

textarea {
  width: auto;
  height: auto;
  margin: 2px 2px 2px 2px;
  padding: 8px 5px 8px 5px;
  border: none;
  border-radius: 2px;
  background: rgb(0, 0, 0);
  color: rgb(250, 250, 250);
  font-size: 12px;
  font-weight: lighter;
  cursor: pointer;
  transition: 0.3s;
}

textarea:focus {
  background: rgb(250, 250, 250);
  color: rgb(0, 0, 0);
}
.textarea-desenabled {
  background: none;
  background: none;
  color: rgb(0, 0, 0);
}

/*_____Select_____*/

select {
  width: auto;
  height: auto;
  margin: 2px 2px 2px 2px;
  padding: 8px 5px 8px 5px;
  border: none;
  border-radius: 2px;
  background: rgb(0, 0, 0);
  color: rgb(250, 250, 250);
  font-size: 12px;
  font-weight: lighter;
  cursor: pointer;
  transition: 0.3s;
}

select:focus {
  background: rgb(250, 250, 250);
  color: rgb(0, 0, 0);
}

.select-desenabled {
  width: auto;
  height: auto;
  margin: 2px 2px 2px 2px;
  padding: 8px 5px 8px 5px;
  border: none;
  border-radius: 2px;
  background: var(--accent-color);
  color: var(--text-color-dark);
  font-size: 12px;
  font-weight: lighter;
  cursor: default;
  transition: all 0.2s;
  box-shadow: none;
}

option {
  background: rgb(250, 250, 250);
  color: rgb(0, 0, 0);
}

option:checked {
  background: rgb(0, 0, 0);
  color: rgb(250, 250, 250);
}

/*_____Label_____*/

label {
  width: auto;
  height: auto;
  margin: 2px 2px 2px 2px;
  padding: 8px 5px 8px 5px;
  border: 0;
  border-radius: 0;
  background: none;
  color: rgb(250, 250, 250);
  font-size: 12px;
  font-weight: 600;
  cursor: default;
  transition: all 0.2s;
}

/*-----NavBar-----*/

nav {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

ul {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 2px 2px 2px 2px;
  padding: 8px 5px 8px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

li {
  width: 100%;
  height: auto;
  margin: px 0px;
  padding: 10px 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navlink {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.navlink:hover {
  text-decoration: none;
  font-weight: 500;
  color: rgb(250, 250, 250);
}

.navlink-activo {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: rgb(250, 250, 250);
}

.sub-menu-nav {
  display: none;
  border: 1px solid white;
}

.sub-menu-nav.visible {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sub-menu-nav.visible li {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 10px 0px;
  list-style: none;
  box-sizing: border-box;
}

.sub-menu-nav.visible .navlink {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.sub-menu-nav.visible .navlink:hover {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgb(250, 250, 250);
}

.table-container {
  width: auto;
  max-height: 400px; /* Ajusta el tamaño según tus necesidades */
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  color: rgb(250, 250, 250);
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  color: rgb(250, 250, 250);
  background: rgb(0, 0, 0);
}

th,
td {
  text-align: left;
  padding: 4px 40px;
}

tr {
  background: rgb(120, 125, 120);
}

tr:nth-child(even) {
  background: rgb(110, 115, 110);
}

tbody {
  text-shadow: 0.4px 0.4px 0.4px #000000;
  font-weight: 500;
}

tbody tr:hover {
  background: rgb(250, 250, 250);
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.form-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 2px;
  padding: 20px;
  background: rgb(120, 125, 120);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.form-group {
  width: 100%;
  height: auto;
  margin: 10px 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  input,
  select,
  textarea {
    min-width: 60%;
    margin: 0;
  }
}

.container-header {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  color: rgb(250, 250, 250);
  box-shadow: var(--cont-shadow-conv);
  border-radius: 5px;
  box-sizing: border-box;
  background: rgb(110, 115, 110);
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 12px;
}

.principal-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 5px 5px;
  background: rgb(100, 105, 100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 5px;

  border-radius: 5px;
}

.secondary-container {
  box-sizing: border-box;
  width: auto;
  max-height: 100%;
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: inset 0.5px 0.5px 1px rgba(0, 0, 0, 0.4),
  inset -0.5px -0.5px 1px rgba(255, 255, 255, 0.4);
}

.data-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 5px 1px;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.data-item {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 10px 2px 0px;
  padding: 2px;
  border-radius: 5px;
  background: rgb(120, 125, 120);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
 
  transition: 0.2s;
  label {
    color: rgb(250, 250, 250);
  }
}

.data-item:hover {
  background:rgb(135, 140, 135);
}


.filter-container {
  box-sizing: border-box;
  padding: 5px;
  margin: 2px;
  display: inline-flex; /* Cambiar de flex a inline-flex */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: inset 0.5px 0.5px 1px rgba(0, 0, 0, 0.4),
  inset -0.5px -0.5px 1px rgba(255, 255, 255, 0.4);
  width: auto; 
  height: auto; 
}

.filter-container-header {
  box-sizing: border-box;
  width: 100%;
  margin: 2px;
  display: flex;
  text-align: left;
  font-size: 14px;
  margin: 0px;
  p {
    background: rgba(0, 255, 255, 0);
    margin: 0px 0px 5px 0px;
    color: var(--text-color-light);
  }
}

.filter-container-group {
  padding: 5px;
  display: flex;
  margin: 2px;
  flex-flow: row wrap;
  border-radius: 5px;
  input,
  select {
    margin-top: 1px;
    min-width: 200px;
  }
}

.filter-container-button {
  display: flex;
  margin: 2px;
  flex-flow: row wrap;
}


.control-buttons-container{
  box-sizing: border-box;
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: inset 0.5px 0.5px 1px rgba(0, 0, 0, 0.4),
  inset -0.5px -0.5px 1px rgba(255, 255, 255, 0.4);
}



